
{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="static/images/libro.png">
    <title>Biblioteca</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- page css -->
    <link href="{% static 'css/pages/login-register-lock.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/default-dark.css' %}" id="theme" rel="stylesheet">

</head>

<body class="card-no-border" >

    <section id="wrapper">
         <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 style="margin-top:30px;">Ingrese datos</h1>
                <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% buttons %}
                      <button type="submit" class="btn btn-primary">Crear usuario</button>
                    {% endbuttons %}

                  </form>

                  <!-- <input type="submit" value="Enviar" class="btn btn-primary float-right btn-lg"> -->
                </form>

            </div>

        </div>
    </div>
</section> 
 <!--    <section id="wrapper">
        <div class="login-register" style="background-image:url(images/background/megamenubg.jpg);">
            <div class="login-box card">
                <div class="card-body">
                  <form enctype="multipart/form-data" action="" method="POST">
                    {% csrf_token %}

                    {% bootstrap_form form %}
                    {% buttons %}
                      <button type="submit" class="btn btn-primary">Crear Admin</button>
                    {% endbuttons %}

                  </form>
                
                </div>
            </div>
        </div>
    </section> -->

    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'plugins/bootstrap/js/popper.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>


</body>

</html>
