{% extends "base.html" %}
{% load bootstrap4 %}

{% block contenido %}


<!-- INICIO RADIO BUTTON -->
<div class="container">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<div class="btn-group btn-group-toggle" data-toggle="buttons">
			  	<label class="btn btn-secondary active">
			    	<input type="radio" name="options" id="option1" autocomplete="off" checked> Active
			  	</label>
				<label class="btn btn-secondary">
				    <input type="radio" name="options" id="option2" autocomplete="off"> Radio
				</label>
				<label class="btn btn-secondary">
				    <input type="radio" name="options" id="option3" autocomplete="off"> Radio
				</label>
			</div>
		</div>
		<div class="col-4"></div>
	</div>
</div>
<!-- FIN RADIO BUTTON -->


<div class="container m-4">
	<div class="row">
		{% for book in object_list %}
			<div class="col-4">
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" src="{{ book.picture.url }}" alt="Card image cap">
					<div class="card-body">
					    <h5 class="card-title"> {{book.title}} </h5>
					    <p class="card-text">{{book.author}}</p>
					    <p class="card-text">{{book.editorial}}</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
				  	</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>





{% endblock contenido %}
